body {
  margin: 0;
  height: 100vh;
  background: rgb(235, 235, 235);
  font-family: sans-serif;
}

button {
  float: right;
  margin-bottom: 3em;
}

.container {
  display: grid;
}

section {
  height: 100vh;
}

.card {
  background: white;
  margin: 3em 0;
  padding: 5em;
  border-top: 5px solid rgb(0, 110, 255);
  animation: anim 1s infinite alternate;
}

.card:nth-of-type(1) {
  animation-delay: 0.5s;
}

.card:nth-of-type(2) {
  animation-delay: 0.7s;
}

.card:nth-of-type(2) {
  animation-delay: 1.2s;
}

@keyframes anim {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 300px;
  }
}

@keyframes anim2 {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(300px);
  }
}

.newAnim {
  animation: anim2 1s infinite alternate !important;
}
